/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

/* Menu hover underline effect. */
/* This avoids applying underline to the active menu item. */
#menu span:hover:not(.active) {
    transition: all 0.15s ease;
    text-decoration: underline;
}

/* Blog post entry hover animations */
.post-entry {
    transition: all 0.15s ease;
    border-radius: var(--radius);
}

.post-entry:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}